/* src/BreweriesList.css */
.breweries-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.breweries-title {
    text-align: center;
}

.breweries-list {
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
    overflow: auto;
}
